body,html {
	margin:0;
	padding:0;
	background-color: #E3E3E3;
}

.navbar{
	box-sizing: border-box;
	background: #1F2534;
	height:60px;
	width:100%;
	flex:auto;
	text-align: center;
	margin:0;
}

div {
	margin:0;
	padding:0;
}

.button{
  box-sizing: border-box;
	background: #1F2534;
	border: 1px solid #306EFE;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	height:60px;
	width:200px;
	padding:12px;
	display:inline-block;
	position:static;
	
}