body,html {
	margin:0;
	padding:0;
	background-color: #E3E3E3;
}

.navbar{
	box-sizing: border-box;
	background: #1F2534;
	height:60px;
	width:100%;
	flex:auto;
	text-align: center;
	margin:0;
}

div {
	margin:0;
	padding:0;
}

.button{
  box-sizing: border-box;
	background: #1F2534;
	border: 1px solid #306EFE;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	height:60px;
	width:200px;
	padding:12px;
	display:inline-block;
	position:static;
	
}
body {
    font-size: 12px;
}

text {
    fill: white;
}

.time_slider{
	width: 100%;
	background-color: rgb(240,240,240);
	height: 50px;
	text-align: center;
}

svg {
    position: relative;
}

path {
    fill: #ffd800;
    fill-opacity: .2;
}

path:hover {
        fill: brown;
        fill-opacity: .7;
    }

#map {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: #333;
}
.sub_all{
	width:100%;
	flex:auto;
	display: flex;
	flex-direction: row;
}
.sub_left{
/*	display: inline-block;
	width:30%;*/
	width: 33.33%;
	height: 400px;
	background-color: rgb(240,255,255);
}
.sub_middle{
/*	display: inline-block;
	width: 32%;*/
	width: 33.33%;
	height: 400px;
	background-color: rgb(255,240,255);
}
.sub_right{
/*	display: inline-block;
	width: 32%;*/
	width: 33.33%;
	height: 400px;
	background-color: rgb(255,255,240);
}