body,html {
	margin:0;
	padding:0;
	background-color: #E3E3E3;
	width:100%;
}

body {
    font-size: 12px;
}

div {
	margin:0;
	padding:0;
}

/*
	
	Navigation bar

*/

.navbar {
	display: flex;
	flex-flow: row;

	background: #333;
	justify-content: center;
	overflow: hidden;
}

.navbar button {
	background-color: rgba(51,51,51,1);
	border-left: solid #E3E3E3 1px;
	border-right:none;
	border-top: none;
	border-bottom: none;

	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;

	height:7vh;
	width:200px;
}

/*Puts a right-border on the about tab in the navbar*/
.navbar #about {
	border-right: solid #E3E3E3 1px;
}

/*Highlights a tab on hover*/
.navbar button:hover {
	filter: brightness(118%);
}

/*Highlights the current tab*/
.navbar .current-page {
	filter: brightness(118%);
}

/***

	Timeline

***/

.time_slider{
	width: 100%;
	background-color: rgb(240,240,240);
	height: 8vh;
	text-align: center;
}
#slider-container {
   position: relative;
   height: 50px;
   background-color: #eeeef5;
   margin-left: 10px;
   margin-right:10px;
   margin-bottom:5px;
}

#range-label {
    text-align: center;
    margin-bottom: 10px
}

svg {
    position: relative;
}

path {
    fill: #ffd800;
    fill-opacity: .2;
}

path:hover {
        fill: brown;
        fill-opacity: .7;
    }

/*

	Map

*/
#map {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #333;
}

/*

	sub

*/
.sub_all{
	width:100%;
	height:35vh;
	flex:auto;
	display: flex;
	flex-direction: row;
}
.sub_left{
/*	display: inline-block;
	width:30%;*/
	width: 33.33%;
/*	height: 40vh;*/
	background-color: rgb(240,255,255);
}
.sub_middle{
/*	display: inline-block;
	width: 32%;*/
	width: 33.33%;
/*	height: 40vh;*/
	background-color: rgb(255,240,255);
}
.sub_right{
/*	display: inline-block;
	width: 32%;*/
	width: 33.33%;
/*	height: 40vh;*/
	background-color: rgb(255,255,240);
}

/*

	Footer

*/
.footer {
	display:flex;
	background-color: #E3E3E3;
	width:100%;
	height:150px;
}















