<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Exploring Terrorism </title>
		<link href="../static/css/styles.css" rel="stylesheet">
	</head>

	<body>

		<nav>
			<div class="navbar">
				<a href="index.html">
					<button>Explore</button>
				</a>

				<a href="#">
					<button class="current-page">Analysis</button>
				</a>
				<a href="dataset.html">
					<button>Dataset</button>
				</a>
				<a href="about.html">
					<button id="about">About</button>
				</a>				
			</div>

			
		</nav>



	</body>










</html>